/*Encabezado - Nav*/

header {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    z-index: 10;
}

.contenedor-logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo_clinica_dr_telica {
    max-height: 140px;
    /* Establece un máximo de altura */
    width: auto;
    /* Mantiene la proporción del logo */
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 14px;
    gap: 2px !important;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    color: #0C1728;
    transition: color 0.3s ease;
    font-weight: 500;
    margin-left: 4px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    /* Para que la línea quede justo debajo del texto */
    height: 2px;
    width: 0;
    background-color: #264A80;
    transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.activo::after {
    width: 100%;
}

nav ul li a:hover {
    color: #264A80;
    /* Cambia el color del texto al hacer hover */
}

/* Botón de menú hamburguesa */
.menu-btn {
    font-size: 24px;
    color: rgb(7, 7, 7); /* Color del botón de menú hamburguesa */
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Oculto en pantallas grandes */
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    /* Oculta el menú en pantallas pequeñas */
    .nav-links {
        display: none;
        position: absolute;
        top: 80px; /* Distancia desde la parte superior del header */
        right: 0;
        background-color: #333; /* Fondo oscuro sólido para menú desplegable */
        width: 100%;
        padding: 20px;
        border-radius: 0 0 5px 5px;
        text-align: center;
        z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    }

    .nav-links ul {
        flex-direction: column;
        gap: 10px;
        list-style-type: none; /* Elimina los puntos de la lista */
        padding: 0; /* Elimina el padding por defecto */
        margin: 0; /* Elimina el margen por defecto */
        display: flex; /* Usar flexbox para el centramiento */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente si es necesario */
    }

    /* Muestra el botón hamburguesa */
    .menu-btn {
        display: block;
    }

    /* Muestra el menú cuando se activa */
    .nav-links.active {
        display: block;
    }

    /* Enlaces en el menú desplegable */
    .nav-links a {
        color: white; /* Texto blanco en el menú hamburguesa */
    }

    .nav-links a:hover {
        color: #ddd; /* Color al pasar el ratón */
    }
}