@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ECF4F9;
}

/* Contenedor de inicio */

.contenedor-informacion-autora {
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-bottom: 60px;
}

.card {
    transition: transform 0.3s; 
    border: none; 
}

.card:hover {
    transform: scale(1.05); 
}

.contenedor-informacion-autora h2 {
    font-size: 30px;
    color: #264A80;
    margin: 10px;
    font-weight: bold;
}

.contenedor-informacion-autora hr {
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 65px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.card-body {
    padding: 20px; 
}

.card-text {
    margin-bottom: 1rem; 
}

.btn-contactar {
    background-color: #D1B74D !important;
    color: white !important;
    border: none !important; 
    padding: 10px 20px !important; 
    text-align: center !important; 
}

.btn-contactar:hover {
    background-color: #7798C2 ; 
    color: white; 
}
