@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ECF4F9;
}

/*Sección principal*/

.carousel{
    position: relative;
    width: 100%;
}

/* Tamaño de las imágenes del carrusel */
.carrusel-imagen {
    width: 100%;
    /* Ancho completo */
    height: 500px;
    /* Mantener la altura */
    object-fit: cover;
    /* Ajusta las imágenes al tamaño sin distorsión */
}

/* Centrando el texto sobre las imágenes del carrusel */

.carrusel-texto {
    position: absolute;
    top: 50%;
    /* Centra el texto verticalmente */
    left: 50%;
    /* Centra el texto horizontalmente */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white !important;
}

/* Tamaño del título y descripción */
.carrusel-titulo {
    font-size: 22px; 
    margin-bottom: 0.5rem; 
    font-weight: bold;
}

.carrusel-descripcion {
    font-size: 1rem; 
}

/* Texto y botón en el lado izquierdo */
.contenedor-principal-texto {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    max-width: 40%; /* Ajusta el ancho del texto */
    padding: 20px;
    border-radius: 10px;
}

.contenedor-principal-texto h2{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Animación para el carrusel */
@keyframes slide {
    0%, 20% { transform: translateX(0); }
    25%, 45% { transform: translateX(-100%); }
    50%, 70% { transform: translateX(-200%); }
    75%, 100% { transform: translateX(0); }
}

.cita-boton {
    margin-top: 10px;
    padding: 12px 15px;
    background-color: #D1B74D;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

/* Títulos y párrafos */
.contenedor-principal-texto h2 {
    font-size: 24px; /* Tamaño de fuente del título en pantallas grandes */
    margin-bottom: 10px;
}

.contenedor-principal-texto p {
    margin-top: 11px;
    font-size: 1rem; /* Tamaño de fuente del párrafo en pantallas grandes */
    line-height: 1.5;
}

/* Botón */
.cita-boton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #D1B74D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover en botón */
.cita-boton:hover {
    background-color: #D1B74D;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedor-principal-texto {
        max-width: 90%;
        left: 5%;
        top: 45%; /* Cambia la posición en pantallas pequeñas */
        padding: 15px;
    }

    .contenedor-principal-texto h2 {
        font-size: 1.5rem;
    }

    .contenedor-principal-texto p {
        font-size: 0.9rem;
    }

    .cita-boton {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

/* Media query para pantallas muy pequeñas (moviles) */
@media (max-width: 480px) {
    .contenedor-principal-texto {
        top: 50%; /* Aumenta un poco la posición para móviles */
    }

    .contenedor-principal-texto h2 {
        font-size: 1.2rem;
    }

    .contenedor-principal-texto p {
        font-size: 0.8rem;
    }

    .cita-boton {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}

/*Bienvenida*/

.contenedor-bienvenida {
    text-align: center;
    padding: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente en el centro */
    flex-direction: column; /* Alinea el contenido en columna */
}

/* Imagen de bienvenida */
.img-med {
    height: 50px;
    width: auto;
    margin-top: 10px;
}

/* Texto de bienvenida */
.contenedor-bienvenida-texto {
    text-align: center;
    max-width: 600px; /* Limita el ancho del texto para centrarlo mejor */
    padding: 0 15px; /* Añade espacio alrededor del texto */
    font-weight: 300;
}

.contenedor-bienvenida-texto h2 {
    font-size: 30px;
    color: #264A80;
    margin: 10px;
    font-weight: bold;
}

.contenedor-bienvenida-texto hr {
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 65px;
    margin: 30px auto;
}

/*Servicios Médicos*/

.contenedor-servicios {
    padding: 100px;
    background-color: #ECF4F9;
}

.contenedor-servicios h3 {
    font-weight: bold;
    font-size: 25px;
    margin-left: 63px;
}

.contenedor-servicios hr {
    border: 1px solid #D1B74D ;
    opacity: 1;
    width: 65px;
    margin-left: 63px;
}

.contenedor-servicios-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px;
}

.contenedor-servicios-cards h5 {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

.contenedor-servicios-cards p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}

.cardservicios{
    border: solid rgba(24, 23, 23, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.cardservicios:hover {
    transform: translateY(-5px);
}

.servicios-boton {
    margin-left: 63px;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #ECF4F9;
    color: #D1B74D;
    border: 2px solid #D1B74D;
    /* Borde dorado */
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    transition: all 250ms ease;
}

.servicios-boton:hover {
    transform: translateY(-5px);
}

/*Equipo médico*/

.contenedor-equipo {
    padding: 40px;
    background-color: white;
}

.contenedor-equipo h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.contenedor-equipo hr {
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 65px;
    margin: 25px auto;
}

.contenedor-equipo-cards {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    padding: 20px;
}

.contenedor-equipo-cards h5 {
    text-align: center; 
    font-size: 16px;
    font-weight: bold;
    color: #264A80;
}

.contenedor-equipo-cards p {
    margin-top: 5px; 
    font-size: 13px;
    font-weight: 300;
    text-align: center; 
}

.cardEquipo {
    border: none !important;
    transition: transform 0.2s;
    width: 180px; 
    text-align: center; 
}

.cardEquipo:hover {
    transform: translateY(-5px); 
}

.cardEquipo .card-img-top {
    border-radius: 5%; 
    width: 150px;   
    height: 150px;  
    object-fit: cover;  
    margin: 0 auto 5px; 
    display: block;
}
/* Estilos generales del header esto es para hacerlo responsivo */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333; /* Fondo oscuro */
    position: relative; /* Para posicionar elementos hijos */
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}

/* Logo de la clínica */
.logo_clinica_dr_telica {
    width: 150px;
}

/* Enlaces de navegación - Normal */
.nav-links ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-links a {
    color: rgb(12, 12, 12); /* Color del texto de los enlaces en el menú */
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Hover en enlaces */
.nav-links a:hover {
    color: #ddd; /* Color del texto al pasar el ratón */
}

/* Botón de menú hamburguesa */
.menu-btn {
    font-size: 24px;
    color: rgb(7, 7, 7); /* Color del botón de menú hamburguesa */
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Oculto en pantallas grandes */
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    /* Oculta el menú en pantallas pequeñas */
    .nav-links {
        display: none;
        position: absolute;
        top: 60px; /* Distancia desde la parte superior del header */
        right: 0;
        background-color: #333; /* Fondo oscuro sólido para menú desplegable */
        width: 100%;
        padding: 20px;
        border-radius: 0 0 5px 5px;
        text-align: center;
        z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    }

    .nav-links ul {
        flex-direction: column;
        gap: 10px;
    }

    /* Muestra el botón hamburguesa */
    .menu-btn {
        display: block;
    }

    /* Muestra el menú cuando se activa */
    .nav-links.active {
        display: block;
    }

    /* Enlaces en el menú desplegable */
    .nav-links a {
        color: white; /* Texto blanco en el menú hamburguesa */
    }

    .nav-links a:hover {
        color: #ddd; /* Color al pasar el ratón */
    }
}

