/*Encabezado - Nav*/

header {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    z-index: 10;
}

.contenedor-logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo_clinica_dr_telica {
    max-height: 140px;
    /* Establece un máximo de altura */
    width: auto;
    /* Mantiene la proporción del logo */
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 14px;
    gap: 5px !important;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    color: #0C1728;
    transition: color 0.3s ease;
    font-weight: 500;
    margin-left: 4px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    /* Para que la línea quede justo debajo del texto */
    height: 2px;
    width: 0;
    background-color: #264A80;
    transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.activo::after {
    width: 100%;
}

nav ul li a:hover {
    color: #264A80;
    /* Cambia el color del texto al hacer hover */
}
