@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
}

/*Encabezado - Nav*/

header {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    z-index: 10;
}

.contenedor-logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo_clinica_dr_telica {
    max-height: 140px;
    /* Establece un máximo de altura */
    width: auto;
    /* Mantiene la proporción del logo */
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 14px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    position: relative;
    /* Necesario para el pseudo-elemento ::after */
    text-decoration: none;
    font-size: 14px;
    color: #0C1728;
    transition: color 0.3s ease;
    font-weight: 500;
    margin-left: 4px
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    /* Para que la línea quede justo debajo del texto */
    height: 2px;
    width: 0;
    background-color: #264A80;
    transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.activo::after {
    width: 100%;
}

nav ul li a:hover {
    color: #264A80;
    /* Cambia el color del texto al hacer hover */
}

/*Sección principal*/

.contenedor-principal {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url(../img/Blog/Fondo\ Blog.png) no-repeat center center/cover;
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 120px;
    color: white;
}

.contenedor-principal-texto {
    max-width: 110vh;
    /* Puedes ajustar este valor */
    margin: 0 auto;
    /* Centra el contenido */
}

.contenedor-principal h2 {
    font-weight: bold;
}

.contenedor-principal p {
    margin-top: 20px;
    font-weight: 300;
}

/*Sección categorías*/

.contenedor-categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.contenedor-categorias h3 {
    font-size: 25px;
    color: #264A80;
    margin: 10px;
    font-weight: bold;
}

.contenedor-categorias hr {
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 5%;
    margin-top: 2px;
    margin-bottom: 30px;
}

.card-categoria {
    position: relative;
    overflow: hidden;
    border: none !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    /* Ajusta el ancho del card */
    height: 250px;
    /* Ajusta la altura del card */
    margin: 5px;
    /* Espacio entre los cards */
}

.card-categoria:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-img {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
}

.card-img-overlay {
    border-radius: 15px;
    padding: 20px;
}

.card-title {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 300;
}

/*Side bar*/

.btn-abrir-sidebar {
    background-color: #D1B74D !important;
    border: none !important;
    height: 40px;
}

/* Estilos para el sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(52, 58, 64, 0.95);
    color: white;
    transition: right 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    padding: 20px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #7798C2;
}

/* Estilo para el botón de abrir el sidebar */
#toggleSidebar {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Secciones articulos*/

.contenedor-articulos {
    padding: 55px;
    padding-left: 100px;
    padding-top: 50px;
    background-color: #ECF4F9;
}

.contenedor-articulos h4{
    font-size: 27px; 
    color: #0C1728; 
    font-weight: 600;
}

.contenedor-articulos hr{
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 5%;
    margin-top: 2px;
    margin-bottom: 30px;
}

/* Estilos para las tarjetas de artículos */

.tarjeta {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.tarjeta:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.imagen-tarjeta {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.cuerpo-tarjeta {
    padding: 20px;
}

.titulo-tarjeta {
    font-size: 17px;
    margin-bottom: 0.75rem;
    color: #264A80;
    font-weight: bold;
}

.texto-tarjeta {
    font-size: 14px;
    font-weight: 400;
}

.texto-muted {
    color: #6c757d;
}

/*Footer*/

.div-footer {
    background-color: #7798C2;
    padding: 15px;
    /* Reducir el padding */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFFFFF;
    font-size: 0.9rem;
    /* Reducir el tamaño de la fuente general */
}

.div-footer h3 {
    font-weight: bold;
    font-size: 18px;
    /* Reducir el tamaño del título */
}

.div-footer ul {
    list-style-type: none;
    padding: 0;
}

.div-footer ul li {
    margin-bottom: 3px;
    /* Ajustar el margen inferior */
}

.div-footer hr {
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 30px;
    /* Reducir la longitud de la línea */
}

.footer-redes-sociales a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    height: 30px;
    /* Reducir el tamaño de los íconos */
    width: 30px;
    /* Reducir el tamaño de los íconos */
    margin: 0 7px 7px 0;
    /* Ajustar el margen */
    line-height: 30px;
    /* Ajustar la alineación de texto */
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 0.9rem;
    /* Reducir el tamaño de la fuente de los íconos */
    transition: all 0.5s ease;
}

.footer-redes-sociales a:hover {
    color: #000;
    background-color: #fff;
}