@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ECF4F9;
}

/*Inicio*/

.contenedor-principal {
    padding: 100px; /* Reduce el padding inicial para un mejor ajuste en pantallas grandes */
    background-image: url(../img/Rayos\ X.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Responsividad para pantallas medianas */
@media (max-width: 1024px) {
    .contenedor-principal {
        padding: 80px; /* Reduce el padding para pantallas medianas */
        background-size: cover;
    }
}

/* Responsividad para pantallas pequeñas (tabletas y móviles) */
@media (max-width: 768px) {
    .contenedor-principal {
        padding: 60px; /* Disminuye el padding en tabletas */
        background-size: cover;
    }
}

/* Responsividad para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    .contenedor-principal {
        padding: 40px; /* Reduce aún más el padding en móviles */
        background-size: cover; /* La imagen se mantendrá ajustada al contenedor */
    }
}

.contenedor-principal-texto {
    text-align: center;
    color: #FFFFFF;
}

.contenedor-principal-texto h5{
    font-size: 24px;
    font-weight: bold;
}

.contenedor-principal-texto p{
    font-size: 16px;
}

/* Contenedor Categorias Servicios*/

.contenedor-categorias-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.contenedor-categorias-servicios h3{
    font-size: 25px;
    color: #264A80;
    margin: 10px;
    font-weight: bold;
}

.contenedor-categorias-servicios hr{
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 65px;
    margin-top: 2px;
    margin-bottom: 30px;
}

.card-categorias {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    width: 240px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-categorias a{
    text-decoration: none;
}

.card-categorias:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-categorias img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.card-categorias h5 {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

/* Contenedor Servicios Medicos*/

.contenedor-servicios-medicos {
    gap: 60px;
    padding: 20px;
    background-color: #ECF4F9;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Distribuye los cards en varias columnas */
    justify-items: center; /* Centra los cards */
    row-gap: 30px; /* Espacio entre filas */
}

.contenedor-servicios-medicos h5 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.contenedor-servicios-medicos p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}

.cardservicios{
    width: 100%;
    height: 420px !important; /* Altura fija para todos los cards */
    display: flex !important;
    flex-direction: column !important;
    border: solid rgba(24, 23, 23, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    background: white;
    position: relative !important; /* Para posicionamiento absoluto de botones */
}

.cardservicios img{
    width: 100%; /* La imagen ocupará todo el ancho disponible */
    height: 200px; /* Fija la altura de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen y la ajusta al contenedor */
}

.cardservicios:hover {
    transform: translateY(-5px);
}

/* Estilos de los botones */

.card-buttons{
    position: absolute !important;
    bottom: 20px !important;
    right: 20px !important;
    display: flex !important;
    gap: 10px !important;
}

.btn-comprar {
    background-color: #7798C2 !important; /* Color similar al de la imagen */
    color: white !important;
    font-size: 14px !important;
    padding: 5px 15px !important;
    border: none !important;
    border-radius: 5px !important;
}

.btn-ver-mas {
    background-color: white !important;
    color: #7798C2 !important; /* Color del texto similar al de la imagen */
    font-size: 14px !important;
    padding: 5px 15px !important;
    border: 1px solid #7798C2 !important;
    border-radius: 5px !important;
    margin-right: 10px;
}

.btn-comprar:hover {
    background-color: #264A80 !important;
}

.btn-ver-mas:hover {
    background-color: #f0f0f0 !important;
}

/*Modal*/

/* Estilo para el carrusel de imágenes */
.carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* Estilo para la descripción, precio y otros detalles */
.modal-descripcion, .modal-disponibilidad, .modal-galeria, .modal-reseñas {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.modal-precio{
    font-size: 16px;
    color: #264A80;
    font-weight: bold;
}

.modal-title{
    font-weight: bold;
}

.modal-reseñas span {
    font-size: 14px;
    color: #264A80;
}

.col-md-6 hr{
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 65px;
}

.col-md-6 a{
    color: #264A80;
    font-weight: 700;
}

/* Asegurarse de que los botones estén alineados verticalmente */
.swal2-popup .swal2-actions {
    display: flex;
    flex-direction: column; /* Alinea los botones verticalmente */
    align-items: center;
}

/* Estilo para el botón "Seguir comprando" */
.swal2-continue-btn {
    background-color: #7798C2 !important;
    color: white !important;
    font-size: 14px !important;
    padding: 5px 15px !important;
    border: none !important;
    border-radius: 5px !important;
    width: 100%; /* Asegura que el botón de continuar ocupe el 100% del ancho */
    margin-bottom: 10px; /* Espacio entre los botones */
}

/* Estilo para el botón "Ir al carrito" */
.swal2-cart-btn {
    background-color: white !important;
    color: #7798C2 !important;
    font-size: 14px !important;
    padding: 5px 15px !important;
    border: 1px solid #7798C2 !important;
    border-radius: 5px !important;
    margin-top: -4px;
    width: 100%; /* Asegura que el botón de carrito ocupe el 100% del ancho */
}

/* Estilo para el pop-up personalizado */
.swal2-custom-popup {
    max-width: 400px;  /* Tamaño del pop-up */
    padding: 20px;
}

/*Video*/

/* Estilo del contenedor del video */
.video {
    margin-top: 20px; /* Espacio arriba del video */
    margin-bottom: 20px; /* Espacio debajo del video */
    display: flex;
    justify-content: center; /* Centrar el video horizontalmente */
    align-items: center; /* Centrar el video verticalmente si es necesario */
}

/* Estilo del video para pantallas grandes */
.video video {
    max-width: 80%; /* Ancho máximo del video */
    width: auto;
    height: auto;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .video {
        margin-top: 40px; /* Aumentar el margen superior en pantallas pequeñas */
        margin-bottom: 20px; /* Reducir espacio abajo si es necesario */
    }
    
    /* Ajustar el video a una mayor proporción en pantallas pequeñas */
    .video video {
        max-width: 100%; /* El video ocupa más espacio en pantallas pequeñas */
        width: auto; /* Mantener la proporción original */
        height: auto; /* Ajustar la altura automáticamente */
    }
}
/* Asegúrate de que el contenedor tenga suficiente espacio y centrado */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espacio entre los cards */
    justify-content: center; /* Esto centra los cards horizontalmente */
    padding: 20px; /* Añade un poco de espacio alrededor */
}

/* Asegura que cada card tenga un tamaño adecuado */
.card {
    flex: 1 0 21%; /* Cada card ocupará aproximadamente 21% del contenedor (3-4 cards por fila dependiendo del tamaño de la pantalla) */
    margin-bottom: 20px;
    max-width: 18rem; /* Limitar el ancho máximo de las cards */
}

/* Para pantallas más pequeñas, hacer que las cards se ajusten */
@media (max-width: 768px) {
    .card {
        flex: 1 0 45%; /* En pantallas pequeñas, se ocuparán dos cards por fila */
        max-width: 45%; /* Limitar el ancho para adaptarse */
    }
}

@media (max-width: 576px) {
    .card {
        flex: 1 0 100%; /* En pantallas muy pequeñas, solo una card por fila */
        max-width: 100%; /* Limitar el ancho al 100% */
    }
}
.contenedor-categorias-servicios {
    padding: 2rem 0;
    text-align: center; /* Asegura que todo el contenido esté centrado */
}

.card-categorias img {
    display: block; /* Corrige posibles problemas de alineación con inline-block */
    margin: 0 auto; /* Centra las imágenes */
    max-width: 80%; /* Ajusta el tamaño en pantallas pequeñas */
}

.card-categorias h5 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.row {
    margin-left: 0 !important; /* Elimina márgenes laterales que puedan empujar el contenido */
    margin-right: 0 !important;
    transform: translateX(-10px); /* Ajusta el contenido ligeramente a la izquierda */
}

@media (max-width: 576px) {
    .contenedor-categorias-servicios {
        padding: 1.5rem 0;
    }
    .card-categorias img {
        max-width: 100%; /* Amplía las imágenes para pantallas más pequeñas */
    }
}
