@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ECF4F9;
}

/*Sección principal*/


/* Contenedor principal del carrusel */
.contenedor-carrusel-principal {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Tamaño de las imágenes del carrusel */
.carrusel-imagen {
    width: 100%;
    /* Ancho completo */
    height: 400px;
    /* Mantener la altura */
    object-fit: cover;
    /* Ajusta las imágenes al tamaño sin distorsión */
}

/* Centrando el texto sobre las imágenes del carrusel */
.carrusel-texto {
    position: absolute;
    top: 50%;
    /* Centra el texto verticalmente */
    left: 50%;
    /* Centra el texto horizontalmente */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white !important;
}

/* Texto del título del carrusel */
.carrusel-titulo {
    font-size: 24px;
    font-weight: bold;
}

/* Texto de descripción del carrusel */
.carrusel-descripcion {
    font-size: 16px;
}

/* Texto y botón en el lado izquierdo */
.contenedor-principal-texto {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    max-width: 40%; /* Ajusta el ancho del texto */
    background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para contraste */
    padding: 20px;
    border-radius: 10px;
}
/* Animación para el carrusel */
@keyframes slide {
    0%, 20% { transform: translateX(0); }
    25%, 45% { transform: translateX(-100%); }
    50%, 70% { transform: translateX(-200%); }
    75%, 100% { transform: translateX(0); }
}

.cita-boton {
    margin-left: 4vh;
    margin-top: 10px;
    padding: 12px 15px;
    background-color: #D1B74D;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

.cita-boton:hover {
    transition: all 250ms ease;
    font-weight: bold;
}

/*Bienvenida*/

.contenedor-bienvenida {
    text-align: center;
    padding: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.img-med {
    height: 50px;
    width: auto;
    margin-top: 10px;
}

.contenedor-bienvenida-texto {
    flex-basis: 50%;
    padding-right: 35px;
    font-weight: 300;
}

.contenedor-bienvenida-texto h2 {
    font-size: 30px;
    color: #264A80;
    margin: 10px;
    font-weight: bold;
}

.contenedor-bienvenida-texto hr {
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 65px;
    margin: 30px auto;
}

/*Servicios Médicos*/

.contenedor-servicios {
    padding: 100px;
    background-color: #ECF4F9;
}

.contenedor-servicios h3 {
    font-weight: bold;
    font-size: 25px;
    margin-left: 63px;
}

.contenedor-servicios hr {
    border: 1px solid #D1B74D ;
    opacity: 1;
    width: 65px;
    margin-left: 63px;
}

.contenedor-servicios-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px;
}

.contenedor-servicios-cards h5 {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

.contenedor-servicios-cards p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}

.cardservicios{
    border: solid rgba(24, 23, 23, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.cardservicios:hover {
    transform: translateY(-5px);
}

.servicios-boton {
    margin-left: 63px;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #ECF4F9;
    color: #D1B74D;
    border: 2px solid #D1B74D;
    /* Borde dorado */
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    transition: all 250ms ease;
}

.servicios-boton:hover {
    transform: translateY(-5px);
}

/*Equipo médico*/

.contenedor-equipo {
    padding: 40px;
    background-color: white;
}

.contenedor-equipo h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.contenedor-equipo hr {
    border: 1px solid #D1B74D;
    opacity: 1;
    width: 65px;
    margin: 25px auto;
}

.contenedor-equipo-cards {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    padding: 20px;
}

.contenedor-equipo-cards h5 {
    text-align: center; 
    font-size: 16px;
    font-weight: bold;
    color: #264A80;
}

.contenedor-equipo-cards p {
    margin-top: 5px; 
    font-size: 13px;
    font-weight: 300;
    text-align: center; 
}

.cardEquipo {
    border: none !important;
    transition: transform 0.2s;
    width: 180px; 
    text-align: center; 
}

.cardEquipo:hover {
    transform: translateY(-5px); 
}

.cardEquipo .card-img-top {
    border-radius: 5%; 
    width: 150px;   
    height: 150px;  
    object-fit: cover;  
    margin: 0 auto 5px; 
    display: block;
}
