@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ECF4F9;
}

/*Inicio - Carrousel*/

/* Contenedor del carrusel con ancho del 100% */
.contenedor-carrusel-principal {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Tamaño de las imágenes del carrusel */
.carrusel-imagen {
    width: 100%;
    /* Ancho completo */
    height: 400px;
    /* Mantener la altura */
    object-fit: cover;
    /* Ajusta las imágenes al tamaño sin distorsión */
}

/* Centrando el texto sobre las imágenes del carrusel */
.carrusel-texto {
    position: absolute;
    top: 50%;
    /* Centra el texto verticalmente */
    left: 50%;
    /* Centra el texto horizontalmente */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white !important;
}

/* Texto del título del carrusel */
.carrusel-titulo {
    font-size: 24px;
    font-weight: bold;
}

/* Texto de descripción del carrusel */
.carrusel-descripcion {
    font-size: 16px;
}

/* Contenedor con servicios */

.tarjeta {
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    /* Tamaño máximo */
    min-height: 450px;
    /* Altura mínima fija */
}

.tarjeta:hover {
    transform: scale(1.05);
}

.icono {
    width: 55px;
    /* Aumenta el tamaño del ícono */
    margin-bottom: 15px;
}

.contenido {
    text-align: center;
    font-size: 14px;
}

/* Ajuste solo de las imágenes principales para que sean del mismo tamaño */
.tarjeta>img {
    /* Solo selecciona las imágenes directas dentro de las tarjetas, excluyendo los íconos */
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*Video*/

.video {
    width: 560px;
    margin: 4em auto;
}