@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
}

/*Inicio articulo*/

.contenedor-articulo {
    background-size: cover;
    background-position: center;
    height: 300px;
    /* Ajusta el tamaño según lo que necesites */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenededor-articulo-texto {
    text-align: center;
    color: white;
    padding: 20px;
}

.contenededor-articulo-texto h1 {
    font-size: 28px;
    font-weight: bold;
}

.contenededor-articulo-texto h3 {
    font-size: 30px;
    font-weight: bold;
}

.categoria {
    background: rgba(201, 169, 87, 0.7);
    /* Dorado transparente */
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 5px;
}

.autor {
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 300;
}

/*Contenido del artículo*/

.seccion-articulo {
    padding: 3rem 2rem;
    /* Espacio alrededor del contenido */
    max-width: 1000px;
    /* Limitar el ancho para mejorar la legibilidad */
    margin: auto;
    /* Centrar el contenido */
    border-radius: 8px;
    /* Bordes suaves para un diseño moderno */
}

.seccion-articulo h2 {
    font-size: 20px;
    /* Tamaño de texto grande para destacar los títulos */
    font-weight: 700;
    /* Negrita para énfasis */
    color: #2a5d78;
    /* Color azul oscuro para títulos */
    margin-bottom: 1rem;
    /* Separación de los subtítulos */
}

.seccion-articulo h3 {
    font-size: 20px;
    /* Tamaño de texto grande para destacar los títulos */
    font-weight: 600;
    /* Negrita para énfasis */
    color: #0C1728;
    /* Color azul oscuro para títulos */
    margin-bottom: 1rem;
    /* Separación de los subtítulos */
}

.seccion-articulo p {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.seccion-articulo ul {
    padding-left: 20px;
    margin-bottom: 1.5rem;
}
